.bigimage2{
  background-image: url('../images/aboutusimg.jpg');
  background-size: cover;
  background-position: center;
padding-top: 20px;
}

body{
 font-family: 'Candal';

}
h2{
  text-decoration: underline;
}
.mainheader{
  position: relative;
  vertical-align: middle;
  font-size:22px;
  font-weight: bold;
  text-align: center;
  }
  .container{
    padding: 0px;
    padding-right: 16.5px;


  }


.text{
  padding-left: 200px;
  padding-top: 30px;

}
.text1{
  font-size: 17px;
  line-height: 33px;
  padding-right: 225px;
}
.ourstory{
  color: white;
  text-align: center;
  font-weight: 100;
  padding-bottom: 140px;

  font-size: 48px;
}
