.bigimage3{
  background-image: url('../images/menuimg.jpg');
  background-size: cover;
  background-position: center;
  padding-top:20px;
}
.mainheader{
  position: relative;
  vertical-align: middle;
  font-size:22px;
  font-weight: bold;
  text-align: center;
  }

body{
 font-family: 'Candal';



}
h2{
  text-decoration: underline;
}
.bottom{
  padding-top:50px;
}
.second{
  padding-top: 25px;

}
.container{
  padding-left: 115px;
  padding-right: 115px;
}
.container-fluid{
  padding: 0px;
}
.mainheader{
  position: relative;
  vertical-align: middle;
  font-size:22px;
  font-weight: bold;
  text-align: center;
  }
.padding{
  padding-bottom: 10px;

}
.header-behavior{
  padding-top: 10px;
  padding-bottom: 0px;
  font-size: 23px;
}

p{
  font-size:16px;
padding-top: 30px;
color:#818181;
padding-bottom: 7px
}

.ourmenu{
  color: white;
  text-align: center;
  font-weight: 100;
  padding-top: 40px;
  padding-bottom: 98px;
  font-size: 50px;
}
